* {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.animation {
  transform-origin: top;
  perspective: 500px;
  opacity: 0;
  animation: fromTop 400ms 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000) 1;
  animation-fill-mode: forwards;
}

.card-medium {
  font-size: 2em;
  height: 70%;
  width: 80%;
  border-radius: 4px;
  background: var(--background-color-card);
  box-shadow: var(--box-shadow-card);

  position: absolute;
}

.card-normal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  box-shadow: var(--box-shadow-card);
  background: var(--background-color-card);

  height: 70%;
  width: 80%;
  border-radius: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem 1rem 1rem 1rem;
}

.content p {
  margin: 0;
  height: 90%;
  overflow-y: scroll;
}

.logo {
  position: absolute;
  transform: translateY(-70px);
  left: calc(50% - 60px);
  height: 100px;
  width: 100px;
}

.links {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: flex-end;
  gap: 20px;
}

.links a svg {
  color: var(--secondary-color);
}

.dashed-border {
  width: 20%;
  margin-bottom: 15px;
  border: 1px dashed var(--secondary-color);
}

i {
  color: var(--secondary-color);
}

.card-radar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  box-shadow: var(--box-shadow-card);
  background: var(--background-color-card);

  height: 70%;
  width: 80%;
  border-radius: 4px;
}

.radar {
  width: 100%;
  height: 100%;
}

@keyframes fromTop {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-80deg);
    -ms-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@media only screen and (min-width: 700px) and (min-height: 900px) {
  p {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 700px) and (min-height: 900px) {
  p {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 500px) {
  .card-medium {
    height: 85%;
    width: 95%;
  }

  .card-medium p {
    transform: none;
  }

  .logo {
    transform: translateY(-20px);
    left: calc(50% - 20px);
    height: 40px;
    width: 40px;
  }

  .card-radar {
    height: 95%;
    width: 95%;
  }
}

@media only screen and (max-width: 400px) {
  p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-height: 500px) {
  .logo {
    transform: translateY(-20px);
    left: calc(50% - 20px);
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 300px) and (max-height: 300px) {
  .logo {
    display: none;
  }
}